:root{
    --blue-primary: #363062;
    --blue-secondary: #435585;
}

/* warna primary blue */
.bg-primary-blue{
    background-color: var(--blue-primary) !important;
}
.bg-secondary-blue{
    background-color: var(--blue-secondary) !important;
}
.text-primary-blue{
    color: var(--blue-primary) !important;
}
.text-secondary-blue{
    color: var(--blue-secondary) !important;
}
/* sidebar */
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100vh - 150px) !important;
}

.navbar-vertical.bg-white .navbar-nav > .nav-item > .nav-link.active,
.navbar-vertical.bg-white .navbar-nav > .nav-item > .nav-link:hover {
    background-color: var(--blue-primary) !important;
    color: white;
    border-radius: 0.5rem; /* Consistent rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Additional styles for ensuring no sharp borders */
.navbar-vertical.bg-white .navbar-nav > .nav-item > .nav-link {
    border-radius: 0.5rem; /* Default rounded corners */
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active .icon .ni,
.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active .icon .fa {
    color: white;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link:hover .icon .ni,
.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link:hover .icon .fa {
    color: white;
}

.icon .ni{
    color: #000;
}
.icon .fa{
    color: #000;
}
.text-logout{
    color: #000;
}
.btn-logout:hover{
    background-color: var(--blue-primary);
}
.btn-logout:hover .text-logout,
.btn-logout:hover .svg-element
{
    color: white;
    fill: #fff; /* Ganti dengan warna yang diinginkan saat hover */
}
.profile-dropdown{
    top:50% !important;
    right:4% !important;
    border-radius: 10px;
    box-shadow: 3px -1px 17px var(--blue-secondary);
}
.divider-blue-primary{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--blue-primary), rgba(0, 0, 0, 0));
}
/* content */
.card-content{
    border-bottom: 1px solid var(--blue-primary);
}

/* text */
.text-input{
    font-size: 15px;
    font-weight: 500;
}

/* pagination datatable */
.page-item.active .page-link{
    color: #fff;
}

.inner {
    width: 95%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid var(--blue-primary);
}
.btn-sm.bg-gradient-primary{
    margin-right: 3px !important;
}

.card-login{
    box-shadow: 3px -1px 17px var(--blue-primary);
}
.form-check-input:checked {
    background-color: var(--blue-primary) !important;
} 
.form-check-input:checked + .form-check-label {
    color: var(--blue-primary) !important;
}
.form-switch .form-check-input:checked {
    border-color: var(--blue-primary) !important;
}
.form-control:focus {
    border-color: var(--blue-primary) !important;
}
.form-check-input:checked[type="checkbox"] {
    background-image: linear-gradient(310deg, var(--blue-primary) 0%, var(--blue-secondary) 100%) !important;
}
.form-check-input:checked[type="radio"] {
    background-image: linear-gradient(310deg, var(--blue-primary) 0%, var(--blue-secondary) 100%) !important;
}
.table-accordion{
    cursor: pointer;
}
/* Custom styles for Dual Listbox */
.bootstrap-duallistbox-container {
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin: 1px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.bootstrap-duallistbox-container .duallistbox {
    height: 250px;
    overflow-y: auto;
}

.bootstrap-duallistbox-container .duallistbox .list-group-item {
    /* border: none; */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

.bootstrap-duallistbox-container .duallistbox .list-group-item:hover {
    background-color: #f8f9fa; /* Light hover effect */
}

.bootstrap-duallistbox-container .list-group-item.active {
    background-color: #007bff; /* Active item color */
    color: #ffffff;
}

/* Adjust the button styles */
.bootstrap-duallistbox-container .btn {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 0.25rem;
}

.bootstrap-duallistbox-container .btn:hover {
    background-color: #0056b3;
}

/* start custom nestable */
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 600px;
    list-style: none;
    font-size: 0.875rem; /* 14px */
    line-height: 1.5; /* 21px */
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-empty,
.dd-item,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 0.875rem; /* 14px */
    line-height: 1.5; /* 21px */
}

.dd-handle {
    display: block;
    /* height: 35px; */
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #dee2e6; /* Bootstrap's border color */
    background: #fff;
    border-radius: 0.25rem; /* Bootstrap's border radius */
    box-sizing: border-box;
}

.dd-handle:hover {
    color: #0d6efd; /* Bootstrap's primary color */
    background: #fff;
}

.dd-item > button {
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 0.75rem; /* 12px */
    line-height: 1;
    text-align: center;
    font-weight: 700;
}

.dd-item > button:before {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button.dd-expand:before {
    content: '+';
}

.dd-item > button.dd-collapse:before {
    content: '-';
}

.dd-expand {
    display: none;
}

.dd-collapsed .dd-collapse,
.dd-collapsed .dd-list {
    display: none;
}

.dd-collapsed .dd-expand {
    display: block;
}

.dd-empty,
.dd-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f8f9fa; /* Light background for better visibility */
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.dd-nochildren .dd-placeholder {
    display: none;
}
/* end custom nestable */

/* start profile page */
.profile-image {
    position: relative; /* Agar elemen update-image bisa diposisikan relatif terhadap profile-image */
    display: flex;
    justify-content: center; /* Menyusun gambar di tengah */
    align-items: center; /* Menyusun gambar secara vertikal di tengah */
}

.profile-pic {
    width: 100px; /* Atur lebar gambar sesuai kebutuhan */
    height: 100px; /* Atur tinggi gambar sesuai kebutuhan */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    object-fit: cover; /* Menjaga rasio gambar saat dipangkas */
    border: 2px solid #fff; /* Tambahkan border putih (opsional) */
}

/* end profile page */